<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.digitusrevolution.rideshare"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LandingPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.UserRegistrationActivity">
        </activity>
        <activity android:name=".activity.SignInActivity">
        </activity>
        <activity android:name=".activity.OtpVerificationActivity">
        </activity>
        <activity android:name=".activity.MobileRegistrationActivity">
        </activity>
        <!-- Its very important to have NoActionBar statement in HomePageActivity otherwise it will throw an error
        as in HomePage activity we are setting custom toolbar which we will modify later on as well, but if this
        toolbar is there then we can't set toolbar on top of toolbar -->
        <activity
            android:name=".activity.HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzj1_oMiGKS7Zxc8mj-_p0efPAH1d3FTs"/>
    </application>

</manifest>